.btn-cart {
  scale: 1.5;
  padding-top: 3px;
}

.cart-items {
  scale: 1.25;
  color: white;
  margin: auto 0;
}

.cart-div {
  width: 35px;
  height: 35px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 1;
  justify-content: center;
}
